TaiChiProject/Plugins/SpeechRecognition/Binaries/Win64/UE4Editor-SpeechRecognition.pdb
TaiChiProject/Plugins/PerceptionNeuron/Intermediate/
TaiChiProject/Plugins/SpeechRecognition/Binaries/
TaiChiProject/Plugins/SpeechRecognition/Intermediate/
TaiChiProject/Content/Video/TaiChiVideo.mp4
